################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.ipch
*.db-wal
*.db-shm
*.db
*.opendb
*.bin
/MapReduce/MapReduce/x64/Debug/MapReduce.tlog
*.obj
/MapReduce/MapReduce/packages
/MapReduce/MapReduce/MapReduceUnitTests/x64
/MapReduce/.vs/MapReduce/v17/.suo
/MapReduce/MapLibrary/x64
/MapReduce/ReduceLibrary/x64
/MapReduce/MapReduceUnitTests/x64
