<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.78.0" targetFramework="native" />
  <package id="boost_unit_test_framework-vc143" version="1.78.0" targetFramework="native" />
  <package id="gflags" version="2.0.1.0" targetFramework="native" />
  <package id="glog" version="0.3.3.0" targetFramework="native" />
</packages>